.a .heros{
    position:relative;
    width:56.25vw;
    height:100vh;
}

.a body{
    overflow-x: hidden;
}

.a .grp_music1{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.a .op{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff2b2b;
    opacity: 50%;
}

.a .container{
    height: 100%;
}

.a .row{
    height: 100%;
}

.a .txt-btn{
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
    justify-content: center;
}
.a .cbtn{
    position: relative;
}
.a .logo{
    position: absolute;
    width: auto;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
}
.a .navbar{
    background-color: #c200b8;
}


.a .btn {
    width: 30%;
    justify-content: center;
    border: none;
    background:#1887b4;
    padding: 14px 28px; 
    font-size: 12px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
  }

@media (orientation: landscape) {
    .a .heros{
        height: 56.25vw;
        margin: 0%;
    }
}

.a picture{
    position: absolute;
    height: 100%;
    width: 100%;
}

.a .container .row {
    height: 100%;
}
.a .pied{
    position:relative;
    width:100%;
    background-color: #1887b4;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.a .txtp{
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
    font-size: 12px;
}

.a .txtp:hover{
    color: #ff6ef8;
}

.a .card{
    width: 500px;
    height: auto;
}

.a .btn_card{
    width: 100%;
    height: auto;
    justify-content: center;
    border: none;
    background:#ff6ef8;
    padding: 14px 28px; 
    font-size: 12px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
}

.h:hover{
     color: #ff6ef8;
}
.a .c_img{
    width:100%;
    height: auto;
}
.a h1{
    font-size: 35px;
    font-family: 'Lexend Mega';
    font-weight: bold;
}
.a h2{
    font-size: 25px;
    font-family: 'Lexend Mega';
}

.a h3{
    font-size: 15px;
    font-family: 'Lexend Mega';
}

.a .img-fluid{
    max-width: 100%;
    height: auto;
}

.a .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.a .modal_img{
    width:300px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.a iframe{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}

.a .youtube{
    position:relative;
    width:100%;
    height:0%;
    padding-bottom: 56.25%;
}
.a h1{
    color:black;
    font-size: '30px';
    font-family: 'Lexend Mega';
    
}

.swiper-slide{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}
.a .promo1 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.a .slider_1 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.a .slider_2 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.a .slider_3 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.a .swiper-container .swiper-pagination-bullet{
   background: #063970; 
   opacity: 1;
}

.a .swiper-container .swiper-pagination-bullet.bullet-active {
    background: #c200b8;
}

.a .animation{
    position:sticky;
    top:50%;
    width:100%;
    height:0px;
    padding-bottom:100%;
    background-size:100%;
    background-image: url(https://i.imgur.com/IrPB7kn.png);
    animation-name: attente;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(29);
}

.direction-up.is-scrolling.a .animation {
    background-image: url(https://i.imgur.com/yDBX0HI.png); 
    animation-name: haut;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(29);
}

.direction-down.is-scrolling.a .animation {
    background-image: url(https://i.imgur.com/R4ODRX4.png);
    animation-name: bas;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(29);
}

.question {
    margin-bottom: 30px;
    display: none;
  }
  
  .visible {
    display: block;
  }

  .animation_quiz{
    opacity:0%;
  }
    
  .X{
    position:absolute;
    width:23%;
    left:40%;
    top:-45%;
  }
  
  .william{
    position:absolute;
    width:70%;
    left:17%;
    top:-100%;
    z-index:1;
  }
  
  .text{
    position:absolute;
    left:43%;
    font-size:25px;
    top:65%;
    color:black;
    text-transform:uppercase;
    z-index:99;
  }

  .anim{
    opacity:0%;
  }

  .V{
    position:absolute;
    width:15%;
    top:2%;
    left:42%;
  }
  
  .head{
    position:absolute;
    width:15%;
    top:0;
    left:42%;
    z-index:2;
    opacity:95%;
  }
  
  .txtv{
    position:absolute;
    font-size:25px;
    text-transform:uppercase;
    color:green;
    left:45%;
    bottom:20%;
    z-index:99;
  }

@keyframes bas {
    from { background-position: 0 0%; }
    to { background-position: 0 100%; }
  }

@keyframes attente {
    from { background-position: 0 0%; }
    to { background-position: 0 100%; }
  }

@keyframes haut {
    from { background-position: 0 0%; }
    to { background-position: 0 100%; }
}