.a .heros{
    position:absolute;
    width:100%;
    height:100%;
}

.a .grp_music1{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.a .op{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff2b2b;
    opacity: 50%;
}

.a .container{
    position: absolute;
}

.a .txt{
    position: relative;
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
    top: 50%;
}

.a .btn {
    position: absolute;
    top: 50%;
    left: 55%;
    display: block;
    width: 30%;
    border: none;
    background:#1887b4;
    padding: 14px 28px; 
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
  }

@media (orientation: landscape) {
    .a .heros{
        height: 56.25%;
        margin: 0%;
    }
}

.a picture{
    position: absolute;
    height: 100%;
    width: 100%;
}

.a .container .row {
    height: 100%;
}