.a .heros{
    position:relative;
    width:100%;
    height:100vh;
}

.a .grp_music1{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.a .op{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff2b2b;
    opacity: 50%;
}

.a .container{
    height: 100%;
}

.a .row{
    height: 100%;
}

.a .txt-btn{
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
    justify-content: center;
}
.a .cbtn{
    position: relative;
}
.a .logo{
    position: absolute;
    width: auto;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
}
.a .navbar{
    background-color: #c200b8;
}


.a .btn {
    width: 30%;
    justify-content: center;
    border: none;
    background:#1887b4;
    padding: 14px 28px; 
    font-size: 12px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
  }

@media (orientation: landscape) {
    .a .heros{
        height: 56.25vw;
        margin: 0%;
    }
}

.a picture{
    position: absolute;
    height: 100%;
    width: 100%;
}

.a .container .row {
    height: 100%;
}
.a .pied{
    position:relative;
    width:100%;
    background-color: #1887b4;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.a .txtp{
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
    font-size: 12px;
}

.a .txtp:hover{
    color: #ff6ef8;
}

.a .card{
    width: 500px;
    height: auto;
}

.a .btn_card{
    width: 100%;
    height: auto;
    justify-content: center;
    border: none;
    background:#ff6ef8;
    padding: 14px 28px; 
    font-size: 12px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Source Code Pro';
}

.h:hover{
     color: #ff6ef8;
}
.a .c_img{
    width:100%;
    height: auto;
}
.a h1{
    font-size: 35px;
    font-family: 'Lexend Mega';
    font-weight: bold;
}
.a h2{
    font-size: 25px;
    font-family: 'Lexend Mega';
}

.a h3{
    font-size: 15px;
    font-family: 'Lexend Mega';
}

.a .img-fluid{
    max-width: 100%;
    height: auto;
}

.a .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.a .modal_img{
    width:300px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.a .youtube{
    position:relative;
    width:100%;
    height:0%;
    padding-bottom: 56.25%;
}

.a h1{
    color:black;
    font-size: '30px';
    font-family: 'Lexend Mega';
    
}

.swiper-slide{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}

.a .swiper-slide img {
    object-fit: fill;
}

.a .swiper-container .swiper-pagination-bullet{
   background: white; 
}

.a .swiper-container .swiper-pagination-bullet.bullet-active {
    background: violet;
}